<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/Portfolio_Proyecto/css/styles.css"> 
</head>
<body>
  <h1>Bienvenidos a nuestro Portfolio</h1>
  <p>Somos un equipo Los 4 Fantasticos.</p>
  <a href="/miembros">Conoce a nuestro equipo</a>
</body>
</html>
