<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trabajos de Equipo</title>
</head>
<body>
<h1>Trabajos de Equipo</h1>
<a href="/">Volver a la página principal</a>
</body>
</html>
""",
    "main.handlebars": """
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>  
  <header>
  </header>
  <main>
    {{{cuerpo}}}
  </main>
  <footer>
    <p>&copy; 2024 Todos los derechos reservados.</p>
  </footer>
</body>
</html>